/* FLOAT

consete di rimuovere dal normale flusso del doc e spostarlo sui lati
non viene ereditata
rende gli elementi simili agli inline block

se metto float left il contenuto seguente va a destra */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section .float-left{
    float: left;
}

section .float-right{
    float: right;
}