/* FLOAT

consete di rimuovere dal normale flusso del doc e spostarlo sui lati
non viene ereditata
rende gli elementi simili agli inline block

se metto float left o right il contenuto seguente va a destra o sinistra */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section .float-left{
    float: left;
}


/* PSEUDO ELEMENTI: per creare elementi grafici decorativi senza mettere uno span vuoti (SBAGLIATO) nei file html */

h1::after,
h1::before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: aquamarine;
}